.module {
    display: flex;
    flex-direction: column;
    width: 15%;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);

    padding: 1rem;
    text-align: center;
}